@import "./Variables.scss";

.title {
  background-color: #1b1b1b;
  text-align: center;
  text-transform: uppercase;
  font-family: $featured-font;
  color: #ffff;
  font-size: 24px;
  letter-spacing: 0.26em;
  padding: 1rem;
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5 {
  height: 50vh; //comment out

  .project-left {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
  }
  .project-right {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
  }
}

.project-1 {
  background-color: #ffff;
}
.project-2 {
  background-color: #ffff;
}
.project-3 {
  background-color: #1b1b1b;
}
.project-4 {
  background-color: #ffff;
}
.project-5 {
  background-color: #1b1b1b;
}

.project-details-1,
.project-details-2,
.project-details-3,
.project-details-4 {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  // justify-content: center; //(experiment)
  align-items: center;
  padding: 1rem;

  h2 {
    font-family: $featured-font;
    font-size: 24px;
    letter-spacing: 0.26em;
    color: $secondary-color;
  }

  p {
    font-family: $slogan-font;
    font-size: 18px;
    color: $primary-color;
    text-align: left;
    margin: 1vh 0;
  }

  .logos {
    height: 7vh;
    margin: 1vh 0;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
      color: #1b1b1b;
      text-decoration: none;
      font-family: $title-font;
      font-size: 20px;
    }
  }
}
.project-details-1 {
  justify-content: center;
}
.project-image-1,
.project-image-2,
.project-image-3,
.project-image-4 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.project-details-2 {
  ul {
    width: 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    li {
      font-weight: 700;
      padding-top: 0.5rem;
      font-family: $featured-font;
    }
  }
}

.project-details-3 {
  justify-content: center;
  h2,
  p,
  .links a {
    color: #ffff;
  }
}

.project-details-4 {
  justify-content: center;
}
