.title {
  background-color: #e2e6ec;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  font-size: 24px;
  letter-spacing: 0.26em;
  padding: 1rem;
}

#projects {
  height: 100%;
  width: 100%;
  background-color: #ffff;
}

.project .project-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  height: 100%;
  width: 80%;
  margin: 1rem auto 0 auto;
}

.project .project-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.project-details {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.project-details h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 0.26em;
  color: #e63946;
}

.project-details p {
  font-family: "Monda", sans-serif;
  font-size: 18px;
  color: #1b1b1b;
  text-align: left;
  margin: 1vh 0;
}

.project-details .logos {
  height: 70px;
}

.project-details .logos img {
  height: 100%;
  width: 100%;
}

.project-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.project-details .links a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-size: 20px;
}

.project-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 100%;
}

.project-image:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.project-image img {
  height: 100%;
  width: auto;
}

.project-details-2 ul {
  width: 100%;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.project-details-2 ul li {
  font-weight: 700;
  padding-top: 0.25rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1224px) {
  .project .project-left,
  .project .project-right {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 90%;
  }
  .project-details .logos {
    height: 3vw;
  }
  .project-details h2 {
    font-size: 20px;
  }
  .project-details p {
    font-size: 15px;
  }
  .project-details .links a {
    font-size: 16px;
  }
  .project-details-2 ul li {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .project {
    height: 100%;
  }
  .project .project-left,
  .project .project-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .project .project-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .project-image {
    padding: 2rem;
  }
  .project-details {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project-details .logos {
    height: 4.5vw;
  }
  .project-details h2 {
    font-size: 16px;
    border-bottom: 1px solid red;
  }
  .project-details p {
    font-size: 14px;
    margin: 2rem 0;
  }
  .project-details .links {
    margin-top: 2rem;
  }
  .project-details .links a {
    font-size: 16px;
  }
  .project-details-2 ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    margin-bottom: 2rem;
  }
  .project-details-2 ul li {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .project-details-2 ul {
    padding: 0 2rem;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .project-details-2 ul li {
    font-size: 13px;
  }
  .project-details .logos {
    height: 35px;
  }
  .project-details h2 {
    font-size: 1.2rem;
  }
  .project-details p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=Projects.css.map */