@import "./Variables.scss";

.title {
  background-color: $light-color;
  text-align: center;
  text-transform: uppercase;
  font-family: $featured-font;
  color: #1b1b1b;
  font-size: 24px;
  letter-spacing: 0.26em;
  padding: 1rem;
}

#projects {
  height: 100%;
  width: 100%;
  background-color: #ffff;
}

.project {
  .project-left {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    width: 80%;
    margin: 1rem auto 0 auto;
  }
  .project-right {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
}

.project-details {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; //(experiment)
  align-items: center;
  padding: 1rem;

  h2 {
    font-family: $featured-font;
    font-size: 24px;
    letter-spacing: 0.26em;
    color: $secondary-color;
  }

  p {
    font-family: $slogan-font;
    font-size: 18px;
    color: $primary-color;
    text-align: left;
    margin: 1vh 0;
  }

  .logos {
    height: 70px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
      color: #1b1b1b;
      text-decoration: none;
      font-family: $title-font;
      font-size: 20px;
    }
  }
}

.project-image {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  height: 100%;
  &:hover {
    transform: scale(1.02);
  }

  img {
    height: 100%;
    width: auto;
  }
}

.project-details-2 {
  ul {
    width: 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    li {
      font-weight: 700;
      padding-top: 0.25rem;
      font-family: $featured-font;
    }
  }
}

@media (max-width: $breakpoint-laptop) {
  .project {
    .project-left,
    .project-right {
      grid-template-columns: 50% 50%;
      width: 90%;
    }
  }

  .project-details {
    .logos {
      height: 3vw;
    }
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
    .links {
      a {
        font-size: 16px;
      }
    }
  }

  .project-details-2 {
    ul {
      li {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .project {
    height: 100%;
    .project-left,
    .project-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .project-right {
      flex-direction: column-reverse;
    }
  }

  .project-image {
    padding: 2rem;
  }

  .project-details {
    justify-content: space-around;
    .logos {
      height: 4.5vw;
    }
    h2 {
      font-size: 16px;
      border-bottom: 1px solid red;
    }
    p {
      font-size: 14px;
      margin: 2rem 0;
    }
    .links {
      margin-top: 2rem;
      a {
        font-size: 16px;
      }
    }
  }

  .project-details-2 {
    ul {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
      margin-bottom: 2rem;
      li {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: $breakpoint-iphone-x) {
  .project-details-2 {
    ul {
      padding: 0 2rem;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      li {
        font-size: 13px;
      }
    }
  }
  .project-details {
    .logos {
      height: 35px;
    }
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
} ;
