// Colors
$primary-color: #1b1b1b;
$secondary-color: #e63946;
$light-color: #e2e6ec;
// Fonts
$title-font: "Fira Code", monospace;
$body-font: "Open Sans", sans-serif;
$slogan-font: "Monda", sans-serif;
$featured-font: "Montserrat", sans-serif;

// Breakpoints (min-width)
$breakpoint-iphone-x: 375px;
$breakpoint-tablet: 768px;
$breakpoint-smartphone: 375px;
$breakpoint-ipad: 768px;
$breakpoint-laptop: 1224px;
$breakpoint-large-screens: 1824px;
